
<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    body   { color: #222; background: #fff; font: normal 80%/120% 'Helvetica Neue', sans-serif; margin: 4em; position: relative; }
    header { color: #666; border-bottom: 2px solid #666;  }
    header:after { display: table; content: ""; line-height: 0; clear: both; }
    #left  { width: 20em; float: left }
    #main  { margin-left: 20em; }
    header h1 { font-weight: normal; float: left; padding: 0.4em 0 0 0; margin: 0; }
    header form { margin-left: 19.5em; }
    header form input { font-size: 120%; width: 40em; border: none; padding: 0.5em; position: relative; bottom: -0.2em; background: transparent; }
    header form input:focus { outline-width: 0; }
    #left h2 { color: #999; font-size: 160%; font-weight: normal; text-transform: uppercase; letter-spacing: -0.05em; }
    #left h2 { border-top: 2px solid #999; width: 9.4em; padding: 0.5em 0 0.5em 0; margin: 0; }
    #left textarea { font: normal 140%/140% monospace; border: 1px solid #999; padding: 0.5em; width: 12em; }
    #left form p { margin: 0; }
    #left a { color: #000; }
    #left small.c { color: #333; background: #ccc; text-align: center; min-width: 1.75em; min-height: 1.5em; border-radius: 1em; display: inline-block; padding-top: 0.25em; float: right; margin-right: 6em; }
    #left small.i { color: #ccc; background: #333; }
    #facets { list-style-type: none; padding: 0; margin: 0 0 1em 0; }
    #facets li { padding: 0 0 0.5em 0; }
    .article   { border-bottom: 1px solid #999; position: relative; padding: 0.5em 0; }
    .article p { font-size: 140%; }
    .article small { font-size: 70%; color: #999; }
    .article small.d { border-left: 1px solid #999; padding-left: 0.5em; margin-left: 0.5em; }
    .article em.hl { background: #fcfcad; border-radius: 0.5em; padding: 0.2em 0.4em 0.2em 0.4em; }
    .article strong.t { color: #fff; background: #999; font-size: 70%; font-weight: bold; border-radius: 0.6em; padding: 0.2em 0.6em 0.3em 0.7em; }
    .article form { position: absolute; bottom: 1.5em; right: 1em; }
    .pagination { color: #000; font-weight: bold; text-align: right;  }
    .pagination:visited { color: #000; }
    .pagination a        { text-decoration: none; }
    .pagination:hover a  { text-decoration: underline; }
}
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
